{% extends 'layouts/application.html' %} {% block content %}
<div class="container--medium spacing--top-xlarge">
  <h1 class="heading--xxlarge text--centered">Thank you!</h1>
  <hr class="divider spacing--top-medium" />
  <p class="dropcap spacing--top-small text--small">
    Seeing you all at our wedding was a treat. We feel so loved by your gifts,
    thougtfulness and many kind words.
  </p>
  <p class="spacing--top-small text--small">
    We learned that Melanie, Jim and Sam are gifted impromptu speakers. That
    Mary Ann is secretly a semi-professional bowler. And that Adam and Eliza can
    straight-up crush it on the dance floor. It makes us so happy to be
    surrounded by such talented and fun people.
  </p>
  <p class="spacing--top-small text--small">
    You can expect to see some beautiful photos from the night here in June.
  </p>
  <p class="spacing--top-medium text--small">
    Love, <br />Natalie and Jordan ♥
  </p>
</div>
{% endblock %}
