{% extends 'layouts/application.html' %}

{% block content %}
<div class="hero text--centered">
  <h1>
    <p class="heading--xxlarge">Natalie Koch</p>
    <p class="text--small heading--decorated">and</p>
    <p class="heading--xxlarge">Jordan LaPointe</p>
    <p class="text--medium spacing--top-medium">are getting married</p>
  </h1>
</div>

<ul class="event-details text--centered">
  <li class="event-details__item">
    <p class="text--small text--light">At</p>
    <p class="text--large">Pinstripes in Edina</p>
  </li>
  <li class="event-details__item text--large">
    <p class="text--small text--light">On</p>
    <p class="text--large">May 4th, 2019</p>
  </li>
</ul>

<section class="container--medium spacing--top-xlarge spacing--bottom-large">
  <p class="heading--medium">
    We’re so excited to see you all, our closest family and friends, next year for our wedding. It means a lot for you to come, and we hope to make the evening memorable and—more importantly—fun for everyone. In addition to drinks and dancing, there will be bowling, bocce ball and a tasty multi-course meal.
  </p>
  <p class="heading--medium spacing--top-medium">
    Expect to see more details posted here when RSVPs are sent.
  </p>
  <p class="heading--medium spacing--top-medium">
    With love,<br>
    Jordan and Natalie
  </p>
</section>

<image class="footer--image" src="images/bottom-accent_navy.jpg" alt=""/>
{% endblock %}
