{% extends 'layouts/application.html' %} {% block title %} Natalie and Jordan {%
endblock %} {% block content %}
<div class="container--medium spacing--bottom-large spacing--top-xlarge">
  <h1 class="heading--xxlarge text--centered">Thank you!</h1>
  <hr class="divider spacing--top-medium" />
  <p class="dropcap spacing--top-small text--small">
    Seeing you all at our wedding was a treat. We feel so loved by your gifts,
    thougtfulness and many kind words.
  </p>
  <p class="spacing--top-small text--small">
    We learned that Melanie, Jim and Sam are gifted impromptu speakers. That
    Mary Ann is secretly a semi-professional bowler. And that Adam and Eliza can
    straight-up crush it on the dance floor. It makes us happy to be surrounded
    by such talented and fun people!
  </p>
  <p class="spacing--top-small text--small">
    All of the photos and music from the night are linked below.
  </p>
  <p class="spacing--top-small text--small">Cheers, <br />Natalie and Jordan</p>
  <nav class="spacing--top-large text--small">
    <a
      class="link link--full link--with-chevron"
      href="https://www.icloud.com/sharedalbum/#B11GY8gBYG282eP"
      >Wedding photos</a
    >
    <hr class="divider--full spacing--bottom-xsmall spacing--top-xsmall" />
    <a
      class="link link--full link--with-chevron"
      href="https://www.icloud.com/sharedalbum/#B11G4TcsmGKEJk9"
      >Honeymoon photos</a
    >
    <hr class="divider--full spacing--bottom-xsmall spacing--top-xsmall" />
    <p>
      First dance and guest selections playlist:<br />
      <a
        class="link--with-chevron"
        href="https://open.spotify.com/user/1290157939/playlist/1THuBoJgaFXMSztX0xxsYj?si=mM90BHAhQ8mLyKxCF_liXQ"
        >Spotify</a
      >&nbsp;&nbsp;&nbsp;&nbsp;
      <a
        class="link--with-chevron"
        href="https://music.apple.com/us/playlist/wedding-reception-pt-1/pl.u-GPmVFZBZdEx"
        >Apple Music</a
      >
    </p>
    <hr class="divider--full spacing--bottom-xsmall spacing--top-xsmall" />
    <p>
      Dance playlist:<br />
      <a
        class="link--with-chevron"
        href="https://open.spotify.com/user/1290157939/playlist/2yYhMai38rfYx6eUwZF7O7?si=vOheZSt0TIuDdVHD0u_RmA"
        >Spotify</a
      >&nbsp;&nbsp;&nbsp;&nbsp;
      <a
        class="link--with-chevron"
        href="https://music.apple.com/us/playlist/wedding-reception-pt-3/pl.u-gy0Di5j5gRx"
        >Apple Music</a
      >
    </p>
  </nav>
</div>

{% endblock %}
