{% extends 'layouts/application.html' %}

{% block content %}
<section class="container--medium spacing--bottom-xlarge spacing--top-large">
  <h1 class="heading--xlarge spacing--bottom-xsmall text--centered">
    Menu
  </h1>

  <p class="text--centered text--xsmall">
    Each course will be served family style at the table.
  </p>

  <p class="spacing--top-large text--centered text--xsmall">
    Vt <span class="text--light">Vegetarian</span>&nbsp; &nbsp; &nbsp;
    Vn <span class="text--light">Vegan</span>&nbsp; &nbsp; &nbsp;
    Gf <span class="text--light">Gluten Free</span>
  </p>

  <h2 class="heading--medium heading--separated spacing--bottom-small spacing--top-medium">
    Appetizers
  </h2>

  <p class="text--small">
    Homemade Bruschetta
    <small class="text--light">Vn</small>
  </p>

  <p class="text--small">
    Spinach & Artichoke Dip
    <small class="text--light">Vt</small>
  </p>

  <h2 class="heading--medium heading--separated spacing--bottom-small spacing--top-large">
    Salads
  </h2>

  <p class="text--small">
    Chop Salad
    <small class="text--light">Vt</small>
  </p>

  <p class="text--small">
    Caesar Salad
    <small class="text--light">Vn</small>
  </p>

  <h2 class="heading--medium heading--separated spacing--bottom-small spacing--top-large">
    Pastas
  </h2>

  <p class="text--small">
    Vegetable Lasagna
    <small class="text--light">Vt</small>
  </p>

  <p class="text--small">
    Baked Mac & Cheese
    <small class="text--light">Vt</small>
  </p>

  <h2 class="heading--medium heading--separated spacing--bottom-small spacing--top-large">
    Entrées
  </h2>

  <p class="text--small">
    Vegetable & Parmesan Risotto
    <small class="text--light">Vt, Gf</small>
  </p>

  <p class="text--small">
    Chicken Marsala
    <small class="text--light">Gf</small>
  </p>

  <h2 class="heading--medium heading--separated spacing--bottom-small spacing--top-large">
    Sides
  </h2>

  <p class="text--small">
    Seasonal Vegetables
    <small class="text--light">Vn, Gf</small>
  </p>

  <p class="text--small">
    Roasted Red Potatoes
    <small class="text--light">Vn, Gf</small>
  </p>

  <h2 class="heading--medium heading--separated spacing--bottom-small spacing--top-large">
    Dessert
  </h2>

  <p class="text--small">
    Caramelized Cheesecake
    <small class="text--light">Vt</small>
  </p>

  <p class="text--small">
    Classic Tiramisu
    <small class="text--light">Vt</small>
  </p>

  <p class="text--centered text--small spacing--top-large">
    If you have a food allergy or dietary restriction, please reach out to one of us. We are happy to accommodate.
  </p>
</section>
{% endblock %}
